=content_for :top_name do 
  О Компании
 
.static_pages_content  
  %p
    %strong
      Интернет магазин Stealth177Shop 
       
    %span
      %strong
        %img{:align => "right", :height => "308", :src => "/assets/computer.png", :width => "308"}/
  %p
    В г. Брянск продажу качественных и недорогих компьютеров, периферии осуществляет интернет магазин "Stealth177Shop". Оформить заказ Вы можете круглосуточно,
    наши специалисты в любое время готовы оказать Вам  компетентную консультацию и помощь по любому вопросу, связанному с покупкой товаров:
    
  %ul
    %li
      %strong Типы оплаты
    %li
      %strong Работа с юридическими лицами
    %li
      %strong Покупка в кредит
    %li
      %strong Гарантийный ремонт
  %p
    \   
    После консультации специалиста по телефону Вы можете оформить покупку товара по круглосуточному
    телефону 55-55-55.  Также вы можете
    назначить дату и время доставки товара. По прибытию специалист качественно и в
    кротчайшие сроки произведет проверку товара.

    
    
