=content_for :top_name do 
  Контакты

.static_pages_content 
  %p
    %b Магазин в Советском районе г. Брянска 
    %br
    Улица Дуки, 5 оф.555
    %br
    Телефоны:
    %br
    магазин (4832) 55-55-55
    %br
    корпоративный отдел: Иванов Иван т.55-55-56; 8-931-000-55-55    
    %br
    %b Режим работы:
    %br
    Ежедневно с 9-00 до 20-00
    %br
    Воскресенье: с 10-00 до 14-00
  = gmaps("map_options" => { "auto_zoom" => false, "zoom" => 16}, "markers" => {"data" => @my_json_data} ) 
  