// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


      
 
.content {
  width: 527px;
  word-wrap:break-word;
}
      
.image {
  width: 200 px;
  margin-right: 5px;
  margin-bottom: 5px; 

  vertical-align: top;
}
      
h3{
  color: #227;
  padding-left: 50px;
  margin-bottom: 3px;
}
