// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 h1{
        margin: 0;
        padding-bottom: 0,5em;
        font: 150% sans-serif;
        color: #225;
        width: 727px;
      }
      
.product{  
      margin-left: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
      min-height: 200px; 
      width: 710px;

        h3 {
          font-size: 120%;
          font-family: sans-serif;
          margin-left: 200px;
          margin-top: 5;
          margin-bottom: 2px;
          color: #227;
        } 
        .image {
          width: 180 px;
          margin-right: 5px;
          margin-bottom: 5px; 
          float: left;
      }
        .content {
         margin-left: 185px;
         word-wrap:break-word;

      }
  
      
 }
    
    
    
 
